/* Header */

header{
    background-color: var(--color-variante-neutral);
    height: 3.6875rem;
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.menuBurger {
    width: 2rem;
    margin-left: 1rem;
}

header > h1{
    font-family: var(--textPrimary);
    text-align: center;
    color: var(--color-texto-primario);
    font-size: 2rem;

} 
h1{
    flex: auto;
    align-items: center;
}