.slider-section{
  padding: 2em 0;
  background: var(--color-secundario);
  width: 100%;
  border-radius: 0 0 1em 1em;
}

.slider {
  width: 80em;
  max-width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: .5rem;
  box-shadow: 0 0 20px rgba(0, 0,
  0, 0.1);
  background: var(--color-secundario);

}

.slides {
  display: flex;
  width: 100%;
  transition: transform 0.5s;
}


.slide img {
  width: 23.5em;
  object-fit: cover;
  border-radius: .5rem;
  box-shadow: 0 0 20px rgba(var(--color-secundario), 0.1);
}

input[type="radio"] {
  display: none;
}

#radio1:checked ~ .slides {
  transform: translateX(-3%);
}
#radio2:checked ~ .slides {
  transform: translateX(-26em);
}
#radio3:checked ~ .slides {
  transform: translateX(-51em);
}

#radio1:checked ~ .navigation-manual label[for="radio1"],
#radio2:checked ~ .navigation-manual label[for="radio2"],
#radio3:checked ~ .navigation-manual label[for="radio3"] {
  background: #8a8787;
} 

.navigation-manual {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  background: #fff;
}